﻿/*jqxGrid Style*/
.jqx-grid-column-header-classic {
    color: #222;
    text-shadow: 0 1px 0 #F2F2F2;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */         
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada); 
    background-image: -o-linear-gradient(top,#fafafa,#dadada); 
}
.jqx-grid-column-menubutton-classic
{
   background-color: transparent;
}
 .jqx-grid-column-sortascbutton-classic
 {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #aaa;
 }
 .jqx-grid-column-sortdescbutton-classic
 {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #aaa;
 }
 .jqx-grid-column-filterbutton-classic
 {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #aaa;
 }
  .jqx-grid-group-column-classic
 {
   border-color: #bbb;
   text-shadow: 0 1px 0 #F2F2F2;
   background-color: #E8E8E8;
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */              
   background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
   background-image: -moz-linear-gradient(top,#fafafa,#dadada); 
   background-image: -o-linear-gradient(top,#fafafa,#dadada); 
   color: #222;
 }
 .jqx-grid-cell-selected-classic {
    background-color: #dadada;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */              
   background-image: -webkit-gradient(linear,0 0,0 100%,from(#E8E8E8),to(#dadada));
    background-image: -moz-linear-gradient(top,#E8E8E8,#dadada);
    background-image: -o-linear-gradient(top,#E8E8E8,#dadada);
 }
 .jqx-grid-cell-hover-classic {
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eee));
    background-image: -moz-linear-gradient(top,#fafafa,#eee);
    background-image: -o-linear-gradient(top,#fafafa,#eee);
 }
  .jqx-grid-bottomright-classic {
    background-color: #efefef;
 }
/*jqxProgresBar Style*/
.jqx-progressbar-value-classic
{
    border: 0px solid #bbb;
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969); 
    background-image: -o-linear-gradient(top,#989898,#696969); 
}
.jqx-progressbar-value-vertical-classic
{
    border: 0px solid #AAAAAA;
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */              
    background-image: -webkit-gradient(linear,left top, right top,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(left,#989898,#696969); 
    background-image: -o-linear-gradient(left,#989898,#696969); 
}
.jqx-progressbar-classic
{
    border: 1px solid #bbb;
    background: #FFFFFF;
}
.jqx-progressbar-disabled-classic
{
    border: 1px solid #ccc;
    background: #ccc;
}

/*jqxMenu Style*/
.jqx-menu-classic
{
    color: #222;
    border-color: #bbb;
}
.jqx-menu-horizontal-classic
{
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-menu-vertical-classic
{
    background-color: #E8E8E8;
}
.jqx-menu-dropdown-classic
{
    background-color: #ffffff;
    border-color: #bbb;
}
.jqx-menu-item-classic
{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #222;
    text-shadow: 0 1px 0 #F2F2F2;
}
.jqx-menu-item-separator-classic
{
    background-color: #ddd;
    color: inherit;
}
.jqx-menu-item-hover-classic
{
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eee));
    background-image: -moz-linear-gradient(top,#fafafa,#eee);
    background-image: -o-linear-gradient(top,#fafafa,#eee);
    border: 1px solid #999;
    color: #222;
}
.jqx-menu-item-top-hover-classic
{
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eee));
    background-image: -moz-linear-gradient(top,#fafafa,#eee);
    background-image: -o-linear-gradient(top,#fafafa,#eee);
    border: 1px solid #999;
    color: #222;
}
.jqx-menu-item-selected-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
.jqx-menu-item-disabled-classic
{
    color: #ccc;
}
.jqx-menu-item-top-selected-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
.jqx-menu-item-arrow-right-classic
{
    background-image: url(images/icon-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-down-classic
{
    background-image: url(images/icon-down.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-up-classic
{
    background-image: url(images/icon-up.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-left-classic
{
    background-image: url(images/icon-left.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-right-selected-classic
{
    background-image: url(images/icon-right-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-down-selected-classic
{
    background-image: url(images/icon-down-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-up-selected-classic
{
    background-image: url(images/icon-up-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-left-selected-classic
{
    background-image: url(images/icon-left-white.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-top-right-classic
{
    background-image: url(images/icon-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-top-left-classic
{
    background-image: url(images/icon-left.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-classic a:link, a:visited
{
    border: none;
    background-color: transparent;
    color: inherit;
}
.jqx-menu-item-classic a:hover
{
    color: inherit;
    background-color: transparent;
}

.jqx-menu-item-top-classic a:link
{
    border: none;
    background-color: transparent;
    color: inherit;
}
.jqx-menu-item-top-classic a:visited
{
    border: none;
    background-color: transparent;
    color: inherit;
}
.jqx-menu-item-top-classic a:hover
{
    color: inherit;
    background-color: transparent;
    border: none;
}
.jqx-menu-disabled-classic
{
    color: #aaa;
}
.jqx-menu-disabled-classic a:link
{
    color: #aaa;
}
.jqx-menu-disabled-classic a:visited
{
    color: #aaa;
}
.jqx-menu-disabled-classic a:hover
{
}

/*jqxtree Style*/
.jqx-tree-classic
{
    color: #000;
    border-color: #e8e8e8;
    background: #ffffff;
}
.jqx-tree-vertical-classic
{
    background: #ffffff;
}
.jqx-tree-dropdown-root-classic
{
    background-color: transparent;
    border-color: transparent;
}
.jqx-tree-dropdown-classic
{
    background-color: transparent;
    border-color: transparent;
}
.jqx-tree-item-li-classic
{
    background-color: transparent;
    border: 1px solid transparent;
    color: inherit;
}
.jqx-tree-item-classic
{
    background-color: transparent;
    border: 1px solid transparent;
    text-shadow: 0 1px 0 #f2f2f2;
}
.jqx-tree-item-classic a:link
{
    background-color: transparent;
    border: 0px solid transparent;
}
.jqx-tree-item-classic a:visited
{
    background-color: transparent;
}

.jqx-tree-item-classic a:hover
{
    background-color: transparent;
}

.jqx-tree-item-hover-classic
{
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eee));
    background-image: -moz-linear-gradient(top,#fafafa,#eee);
    background-image: -o-linear-gradient(top,#fafafa,#eee);
    border: 1px solid #999;
    color: inherit;
}
.jqx-tree-item-selected-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    border-image: initial;
    color: white;
    text-shadow: 0 1px 0 #333;
}
.jqx-tree-item a:visited
{
    color: inherit;
}
.jqx-tree-item a:hover
{
    color: inherit;
}
.jqx-tree-item-disabled-classic
{
    color: #ccc;
}
.jqx-tree-item-arrow-collapse-classic
{
    background-image: url(images/icon-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-tree-item-arrow-expand-classic
{
    background-image: url(images/icon-down.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-tree-item-arrow-expand-hover-classic
{
    background-image: url(images/icon-down.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-tree-item-arrow-collapse-hover-classic
{
    background-image: url(images/icon-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.jqx-tree-disabled-classic
{
    color: #aaa;
}
.jqx-tree-disabled-classic a:link
{
    color: #aaa;
}
.jqx-tree-disabled-classic a:visited
{
    color: #aaa;
}

/*jqxTabs*/
.jqx-tabs-classic
{
}
.jqx-tabs-header-classic
{
    background-color: #E8E8E8;
    padding-top: 4px;
    border-top-width: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                 
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-tabs-header-collapsed-classic
{
   border-top-width: 1px;  
}
.jqx-tabs-arrow-background-classic
{
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-tabs-close-button-classic
{
    background-image: url(images/close.png);
}
.jqx-tabs-close-button-selected-classic
{
    background-image: url(images/close.png);
}
.jqx-tabs-close-button-hover-classic
{
    background-image: url(images/close.png);
}
.jqx-tabs-arrow-left-classic
{
    background-image: url(images/icon-left.png);
}
.jqx-tabs-arrow-right-classic
{
    background-image: url(images/icon-right.png);
}
.jqx-tabs-title-classic
{
    color: #222;
    border-color: transparent;
    background: transparent;
    text-shadow: 0 1px 0 #F2F2F2;
}
.jqx-tabs-title-selected-top-classic
{
    border-top-color: #aaa;
    border-left-color: #aaa;
    border-right-color: #aaa;
    border-bottom-color: #fff;
    background: #fff url(images/images/glass.png) left center scroll repeat-x;
}
.jqx-tabs-title-selected-bottom-classic
{
    border-top-color: #fff;
    border-left-color: #aaa;
    border-right-color: #aaa;
    border-bottom-color: #aaa;
    background: #fff url(images/images/glass.png) left center scroll repeat-x;
}
.jqx-tabs-title-hover-top-classic
{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: #e8e8e8;
}
.jqx-tabs-title-hover-bottom-classic
{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: #e8e8e8;
}
.jqx-tabs-title-disable-classic
{
    color: #999;
}
.jqx-tabs-selection-tracker-container-classic
{
    position: relative;
    width: 100%;
    background: transparent;
    height: 2px;
}
.jqx-tabs-selection-tracker-top-classic
{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 3px solid #fff;
    background: #fff url(images/images/glass.png) left center scroll repeat-x;
    padding-bottom: 1px;
 }
.jqx-tabs-selection-tracker-bottom-classic
{
    border-top: 3px solid #fff;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: #fff url(images/images/glass.png) left center scroll repeat-x;
}
.jqx-tabs-content-classic
{
    border-color: transparent;
    background-color: #fff;
}

/*jqxCheckBox*/
.jqx-checkbox-classic
{
    border: none;
}
.jqx-checkbox-default-classic
{
    background: #e8e8e8 url(images/images/glass.png) center center scroll repeat-x;
    border: 1px solid #c9c9c9;
}
.jqx-checkbox-hover-classic
{
    background: #e8e8e8 url(images/images/glass.png) center center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-checkbox-disabled-classic
{
    color: #aaa;
    background: transparent;
    border: none;
}
.jqx-checkbox-disabled-box-classic
{
    background: #e8e8e8 url(images/images/glass.png) center center scroll no-repeat;
    border: 1px solid #aaa;
}
.jqx-checkbox-check-checked-classic
{
    background: transparent url(images/check_black.png) center center no-repeat;
    border: none;
}
.jqx-checkbox-check-disabled-classic
{
    background: transparent url(images/check_disabled.png) center center no-repeat;
    border: none;
}
.jqx-checkbox-check-indeterminate-classic
{
    background: transparent url(images/check_indeterminate_black.png) center center no-repeat;
    border: none;
}
.jqx-checkbox-check-indeterminate-disabled-classic
{
    background: transparent url(images/check_indeterminate_disabled.png) center center no-repeat;
    border: none;
}

/*jqxRadioButton*/
.jqx-radiobutton-classic
{
    border: none;
}
.jqx-radiobutton-default-classic
{
    background: transparent url(images/roundbg_classic_normal.png) left center scroll repeat-x;
    border: 0px solid #c9c9c9;
}
.jqx-radiobutton-hover-classic
{
    background: transparent url(images/roundbg_classic_hover.png) left center scroll repeat-x;
    border: 0px solid #000;
}
.jqx-radiobutton-disabled-classic
{
    color: #aaa;
    background: transparent;
    border: none;
}
.jqx-radiobutton-disabled-box-classic
{
    background: transparent url(images/roundbg_disabled.png) left top scroll no-repeat;
    border: 0px solid #aaa;
}
.jqx-radiobutton-check-checked-classic
{
    background: transparent url(images/roundbg_check_black.png) left top no-repeat;
    border: none;
}
.jqx-radiobutton-check-disabled-classic
{
    background: transparent url(images/roundbg_check_disabled.png) left top no-repeat;
    border: none;
}
.jqx-radiobutton-check-indeterminate-classic
{
    background: transparent url(images/roundbg_check_indeterminate.png) left top no-repeat;
    border: none;
}
.jqx-radiobutton-check-indeterminate-disabled-classic
{
    background: transparent url(images/roundbg_check_disabled.png) left top no-repeat;
    border: none;
}

/*jqxMaskedInput and jqxNumberInput Styles*/
.jqx-input-classic
{
    background: #FFFFFF;
    border: 1px solid #c6cacd;
}
.jqx-input-invalid-classic
{
    background: transparent;
    border: 1px solid #FF0000;
}
.jqx-input-content-classic
{
    background: transparent;
    border: none;
}
.jqx-input-disabled-classic
{
    color: #aaa;
    border: none;
}
.jqx-input-button-header-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,left top, right top,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(left,#989898,#696969); 
    background-image: -o-linear-gradient(left,#989898,#696969); 
    border: 1px solid #bbb;
}
.jqx-input-button-innerHeader-classic
{
    background: #fff;
    border: 0px solid #fff;
}
.jqx-input-button-content-classic
{
    color: #000;
    font-size: 8px;
    border-top: 0px solid #404040;
    border-left: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    background: #FFFFFF;
}

/*jqxTooltip Style*/
.jqx-tooltip-content-classic
{
    border: 0px solid #aaaaaa;
    color: #000000;
    background: #f2f2f2;
}
.jqx-tooltip-header-classic
{
    border: 0px solid #aaaaaa;
    background-color: #E8E8E8;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
    color: #222;
}
.jqx-tooltip-content-invalid-classic
{
    border: 0px solid #aaaaaa;
    color: #FFFFFF;
    background-color: #FF0000;
}
.jqx-tooltip-header-invalid-classic
{
    border: 0px solid #aaaaaa;
    background-color: #FF0000;
    color: #FFFFFF;
}
.jqx-tooltip-table-classic
{
    background: #f2f2f2;
    border: 1px solid #aaaaaa;
}

/*jqxCalendar Style*/
.jqx-calendar-classic
{
    color: #222;
    background: #ffffff;
    border: 1px solid #bbb;
}
.jqx-calendar-row-header-classic
{
    background-color: #f2f2f2;
    border: 0px solid #f2f2f2;
}
.jqx-calendar-column-header-classic
{
    background-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #e9e9e9;
}
.jqx-calendar-top-left-header-classic
{
    background: #f2f2f2;
    border: 0px solid #f2f2f2;
}
.jqx-calendar-title-navigation-classic
{
    color: #222;
}
.jqx-calendar-title-header-classic
{
    color: #222;
    border-bottom: 1px solid #c9c9c9;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
    text-shadow: 0 1px 0 #F2F2F2;
}
.jqx-calendar-title-header-disabled-classic
{
    color: #ccc;
    border-bottom: 1px solid #c9c9c9;
    background: #ccc url(images/images/glass.png) left center scroll repeat-x;
}
.jqx-calendar-cell-classic
{
    color: #222;
    background: transparent;
    border: 1px solid #FFFFFF;
    text-shadow: 0 1px 0 #F2F2F2;
}
.jqx-calendar-cell-hidden-classic
{
    display: none;
}
.jqx-calendar-cell-weekend-classic
{
    color: #898989;
}
.jqx-calendar-cell-specialDate-classic
{
    color: #FF0000;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.jqx-calendar-cell-today-classic
{
    color: #898989;
    background-color: #ffffdb;
    border: 1px solid #fdc066;
}
.jqx-calendar-cell-hover-classic
{
    color: #000000;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eee));
    background-image: -moz-linear-gradient(top,#fafafa,#eee);
    background-image: -o-linear-gradient(top,#fafafa,#eee);
    border: 1px solid #999;
}
.jqx-calendar-cell-selected-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
.jqx-calendar-cell-othermonth-classic
{
    color: #898989;
}
.jqx-calendar-cell-disabled-classic
{
    color: #ccc;
}
.jqx-calendar-row-cell-classic
{
    color: #777777;
    border: 1px solid #f2f2f2;
}
.jqx-calendar-row-cell-disabled-classic
{
    color: #ccc;
    border: 1px solid #f2f2f2;
}
.jqx-calendar-column-cell-classic
{
    color: #000000;
    border: 1px solid #FFFFFF;
}
.jqx-calendar-column-cell-disabled-classic
{
    color: #ccc;
    border: 1px solid #FFFFFF;
}
.jqx-calendar-view-classic
{
    background: #FFFFFF;
    border: 0px solid #FFFFFF;
}

/*jqxExpander and jqxNavigationBar Style*/
.jqx-expander-classic
{
}
.jqx-expander-header-classic
{
    color: #222;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
    border: 1px solid #bbb;
    text-shadow: 0 1px 0 #F2F2F2;
}

.jqx-expander-content-classic
{
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    color: #222;
    background-color: #fdfdfd;
}
.jqx-expander-header-content-classic
{
    color: inherit;
    background-color: transparent;
}
.jqx-expander-header-disabled-classic
{
    background: #cccccc url(images/images/glass.png) left center scroll repeat-x;
}
.jqx-expander-content-disabled-classic
{
    background-color: #f1f1f1;
}
.jqx-expander-disabled-classic
{
    border: 0px solid #aaaaaa;
}
.jqx-expander-header-bottom-classic
{
    border: 1px solid #bbb;
}
.jqx-expander-content-top-classic
{
    border-top: 1px solid #bbb;
    border-bottom: 0px solid #aaaaaa;
}
.jqx-expander-header-top-classic
{
    border: 1px solid #bbb;
}
.jqx-expander-content-bottom-classic
{
    border-bottom: 1px solid #bbb;
    border-top: 0px;
}
.jqx-expander-arrow-classic
{
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-expander-arrow-top-classic
{
    background-image: url(images/icon-down.png);
}
.jqx-expander-arrow-bottom-classic
{
    background-image: url(images/icon-up.png);
}
.jqx-expander-header-expanded-classic
{
    text-shadow: 0 1px 0 #F2F2F2;
    border: 1px solid #bbb;
    color: #222;
}
.jqx-expander-header-hover-classic
{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eee));
    background-image: -moz-linear-gradient(top,#fafafa,#eee);
    background-image: -o-linear-gradient(top,#fafafa,#eee);
    border-color: #bbb;
}
.jqx-navigationbar-classic
{
    border-top: 1px solid #bbb;
    padding-bottom: 1px;
    font-family: Verdana;
}

/*jqxPopup Style*/
.jqx-popup-table-classic
{
    border: 1px solid #88888C;
    background: #FFFFFF;
}
.jqx-popup-content-classic
{
    border: 1px solid #88888C;
    background-color: #FFFFFF;
    color: #000000;
    background: #FFC5C5C5; /* for non-css3 browsers */
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFC5C5C5')"; /* for IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFC5C5C5)";
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#C5C)); /* for webkit browsers */
    background: linear-gradient(top,  #FFFFFF,  #C5C5C5); /* for firefox 3.6+ */
}

/*jqxPanel Style*/
.jqx-panel-classic
{
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}
.jqx-panel-bottomright-classic
{
    background: #e8e8e8;
}

/*jqxListBox Style*/
.jqx-listbox-classic
{
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}
.jqx-listbox-bottomright-classic
{
    background: #e8e8e8;
}
.jqx-listitem-state-group-classic
{
    border: 1px solid #ffffff;
    background: #ffffff;
}
.jqx-listitem-state-normal-classic
{
    border: 1px solid #fff;
    color: #222;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 #F2F2F2;
    background-color: #fff;
}
.jqx-listitem-state-hover-classic
{
    border: 1px solid #999;
    color: #222;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 #F2F2F2;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-listitem-state-selected-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: white;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
.jqx-listitem-state-disabled-classic
{
    border: 1px solid #fff;
    background: #fff;
    color: #AAA;
}

/*jqxComboBox Style*/
.jqx-combobox-content-classic
{   
    border: none;
    background: #fff;
    color: #222;
}
.jqx-combobox-input-classic
{
    background: #FFFFFF;
    border: 0px solid #aaaaaa;
}

.jqx-combobox-content-disabled-classic
{
    color: #AAA;
}
.jqx-combobox-arrow-normal-classic
{
    border-left: 1px solid #BBB;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-combobox-arrow-hover-classic
{
    border-left: 1px solid #999;
}
.jqx-combobox-arrow-selected-classic
{
    border-left: 1px solid #666;
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969); 
    background-image: -o-linear-gradient(top,#989898,#696969); 
}
.jqx-combobox-state-normal-classic
{
    border: 1px solid #BBB;
    color: #222;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 #F2F2F2;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-combobox-state-hover-classic
{
    color: #222;
    background-color: #e8e8e8;
    border: 1px solid #999;
}
.jqx-combobox-state-selected-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: white;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
.jqx-combobox-state-disabled-classic
{
    background: #ccc;
    color: #AAA;
}

/*jqxDropDownList Style*/
.jqx-dropdownlist-content-classic
{
    border: none;
    color: inherit;
}
.jqx-dropdownlist-content-disabled-classic
{
    color: #AAA;
}
.jqx-dropdownlist-state-normal-classic
{
    border: 1px solid #BBB;
    color: #222;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 #F2F2F2;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-dropdownlist-state-hover-classic
{
    border: 1px solid #999;
}
.jqx-dropdownlist-state-selected-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
/*applied to the dropdownlist in focused state.*/
.jqx-dropdownlist-state-focus-classic
{
    border: 1px solid #909090;
}
.jqx-dropdownlist-state-disabled-classic
{
    background: #ccc;
    color: #AAA;
}

/*jqxScrollBar Style*/
.jqx-scrollbar-classic
{
    background: transparent;
    border: none;
}
.jqx-scrollbar-state-normal-classic
{
    background-color: #efefef;
    border: 1px solid #efefef;
}
.jqx-scrollbar-button-state-normal-classic
{
    border: 1px solid #ececed;
    background-color: #ececed;
}
.jqx-scrollbar-button-state-hover-classic
{
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
    border: 1px solid #bbb;
}
.jqx-scrollbar-button-state-pressed-classic
{
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
    border: 1px solid #bbb;
}
.jqx-scrollbar-thumb-state-normal-horizontal-classic
{
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
    border: 1px solid #bbb;
}
.jqx-scrollbar-thumb-state-hover-horizontal-classic
{
    background-color: #e8e8e8;
    border: 1px solid #aaaaaa;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
}
.jqx-scrollbar-thumb-state-normal-classic
{
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=1 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,left top, right top,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(left,#fafafa,#dadada);
    background-image: -o-linear-gradient(left,#fafafa,#dadada);
    border: 1px solid #bbb;
}
.jqx-scrollbar-thumb-state-hover-classic
{
    background-color: #e8e8e8;
    border: 1px solid #aaaaaa;
}
.jqx-scrollbar-thumb-state-pressed-classic
{
   background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=1 ); /* IE6-9 */                  
   background-image: -webkit-gradient(linear,left top, right top,from(#989898),to(#696969));
   background-image: -moz-linear-gradient(left,#989898,#696969);
   background-image: -o-linear-gradient(left,#989898,#696969);
   border: 1px solid #666;
}

/*jqxButton, jqxToggleButton, jqxRepeatButton Style*/
.jqx-button-classic
{
    border: 1px solid #BBB;
    color: #222;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #F2F2F2;
}
/*jqxWindow*/
.jqx-window-classic
{
    border: 1px solid #BBB;
    background-color: #fdfdfd;   
}
.jqx-window-disabled-classic
{
    background-color: #f1f1f1;
}
.jqx-window-header-classic
{
    color: #222;
    border-bottom: 1px solid #BBB;
    text-shadow: 0 1px 0 #F2F2F2;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-window-header-disabled-classic
{
    background: #aaa;
    border-color: #aaa;
}
.jqx-window-content-classic
{
    background-color: transparent;
}
.jqx-window-content-disabled-classic
{
    background-color: #f1f1f1;
}
.jqx-window-close-button-classic
{
    background-color: #e8e8e8;
    background-image: url(images/close.png);
    background-repeat: no-repeat;   
    background-position: 0% 50%;  
}
.jqx-window-modal-classic
{
    background-color: Black;
}
.jqx-window-close-button-hover-classic
{
}


/* jqxSlider */
.jqx-slider-slider-vertical-classic
{
    background-image: url(images/slider_vertical_classic.png);
    background-repeat: no-repeat;
}
.jqx-slider-slider-horizontal-classic
{
    background-image: url(images/slider_horizontal_classic.png);
    background-repeat: no-repeat;
}
/*applied to the ticks which can be in the top/bottom/both sides of the jqxSlider*/
.jqx-slider-tick-classic
{
    background-color: #d1d1d1;    
}
/*applied to the track where is located the thumb*/
.jqx-slider-track-classic
{
    height: 3px;
    background: #d1d1d1;
}
.jqx-slider-rangebar-classic
{
    background: #aaa;
}

.jqx-link-classic
{
    color: #111111;
}
.jqx-fill-state-normal-classic
{
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-fill-state-hover-classic
{
    border: 1px solid #999;
    background-color: #E8E8E8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#dadada));
    background-image: -moz-linear-gradient(top,#fafafa,#dadada);
    background-image: -o-linear-gradient(top,#fafafa,#dadada);
}
.jqx-fill-state-pressed-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: white;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
.jqx-fill-state-pressedhover-classic
{
    background-color: #7A7A7A;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#696969',GradientType=0 ); /* IE6-9 */                  
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#989898),to(#696969));
    background-image: -moz-linear-gradient(top,#989898,#696969);
    background-image: -o-linear-gradient(top,#989898,#696969);
    border: 1px solid #666;
    color: white;
    text-shadow: 0 1px 0 #333;
    border-image: initial;
}
.jqx-fill-state-disabled-classic
{
    background: #ccc;
}
/*jqxRating*/
.jqx-rating-classic
{
    margin: 0px;
    padding: 0px;
    outline: none;
    overflow: hidden;
}
.jqx-rating-image-classic
{
    border-width: 0px;
}
.jqx-rating-image-default-classic
{
    background-color: transparent;
    padding: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(images/star.png);
    overflow: hidden;
}
/*applied to the rating when it is hovered.*/
.jqx-rating-image-hover-classic
{
    background-color: transparent;
    padding: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(images/star_hover.png);
    overflow: hidden;
}
/*applied to the rating when it is disabled.*/
.jqx-rating-image-backward-classic
{
    background-color: transparent;
    padding: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(images/star_disabled.png);
    overflow: hidden;
}
/*left, right, up and down arrow icons.*/
.jqx-left-arrow-classic
{
    background: transparent;
    background-image: url('left.png');
    cursor: pointer;
}
.jqx-right-arrow-classic
{
    background: transparent;
    background-image: url('right.png');
    cursor: pointer;
}

.icon-arrow-up-classic
{
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-down-classic
{
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-left-classic
{
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-right-classic
{
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-arrow-up-hover-classic
{
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-down-hover-classic
{
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-left-hover-classic
{
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-right-hover-classic
{
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-arrow-up-selected-classic
{
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-down-selected-classic
{
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-left-selected-classic
{
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-right-selected-classic
{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
/* jqxSplitter */
.jqx-splitter-splitbar-horizontal-classic
{
    background: #D6D6D6;
    border-color: #aaa;
} 
.jqx-splitter-splitbar-vertical-classic
{
    background: #D6D6D6;
    border-color: #aaa;
}
.jqx-splitter-splitbar-hover-classic
{
    background-color: #DEDEDE;
}
.jqx-splitter-splitbar-disabled-classic
{
    background-color: #ddd;
}
.jqx-splitter-invalid-classic
{
    background-color: Red;
}
.jqx-splitter-collapse-button-vertical-classic
{
    background: #999;
}
.jqx-splitter-collapse-button-horizontal-classic
{
    background: #999;
}
.jqx-splitter-collapse-button-hover-classic
{
    background: #777;
}
.jqx-splitter-panel-classic
{
}
.jqx-switchbutton-classic
{
    border: 1px solid #ccc;
    background: #fff;
}
.jqx-switchbutton-label-classic
{
    color: #777;
}
.jqx-switchbutton-thumb-classic
{
    border: 1px solid #ccc;
}