﻿/*jqxGrid Style*/
.jqx-grid-shinyblack {
    border-color: #262626;
}
.jqx-grid-column-header-shinyblack {
    color: #fff;
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
    border-color: #262626;
}
.jqx-grid-column-header-shinyblack a:link{
    color: #fff;
}
 .jqx-grid-column-header-shinyblack a:visited{
    color: #fff;
}
.jqx-grid-bottomright-shinyblack
{
    background: #4e4e4e;
    border-color: #4e4e4e;
}
.jqx-grid-header-shinyblack
{
    border-color: #262626;
}
 .jqx-grid-groups-header-shinyblack {
    border-color: #000;
    background: #555555;
 }
 .jqx-grid-pager-shinyblack
 {
    border-color: #555555;
    color: #fff;
    background: #555555;
 }
.jqx-grid-column-menubutton-shinyblack
{
   background-color: #262626;
   border-color: #262626;
   background-image: url(images/icon-down-white.png);
}
 .jqx-grid-column-filterbutton-shinyblack
 {
    background-color: transparent;
    border-width: 0px 0px 0px 1px;
    border-color: transparent;
 }
 .jqx-grid-column-sortascbutton-shinyblack
 {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: transparent;
    background-image: url(images/icon-up-white.png);
 }
 .jqx-grid-column-sortdescbutton-shinyblack
 {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: transparent;
    background-image: url(images/icon-down-white.png);
 }
  .jqx-grid-group-column-shinyblack
 {
   border-color: #262626;
   background: #000 url(images/bg_black.png) left center scroll repeat-x;
   color: #fff;
 }
  .jqx-grid-group-column  a:link{
    color: #fff;
}
 .jqx-grid-group-column  a:visited{
    color: #fff;
}
 .jqx-grid-selectionarea-shinyblack {
    background-color: #3c3c3c; 
    border: 1px solid #3c3c3c;
    opacity: 0.5;
 }
.jqx-grid-cell-shinyblack
{
    border-color: #3c3c3c;
}
.jqx-grid-group-cell-shinyblack 
{
     border-color: #3c3c3c;
     background-color: #fff;
}
.jqx-grid-cell-pinned-shinyblack {
    background-color: #cecece;
 }
.jqx-grid-cell-alt-shinyblack
{
    background-color: #cecece;
}
.jqx-grid-cell-sort-shinyblack
{
    background-color: #969696;
}
.jqx-grid-cell-filter-shinyblack
{
    background-color: #969696;
}
.jqx-grid-cell-sort-alt-shinyblack
{
    background-color: #cecece;
}
.jqx-grid-cell-filter-alt-shinyblack
{
    background-color: #cecece;
}
 .jqx-grid-cell-selected-shinyblack {
    background-color: #4e4e4e;
    color: #fff;  
 }
 .jqx-grid-cell-hover-shinyblack {
    background-color: #646464;
    color: #fff;
 }
/*jqxProgresBar Style*/
.jqx-progressbar-value-shinyblack
{
    border: 0px solid #555555;
    background-color: #262626; /* fallback color if gradients are not supported */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4E4E4E), to(#262626));
    background-image: -webkit-linear-gradient(top, #4E4E4E, #262626);
    background-image: -moz-linear-gradient(top, #4E4E4E, #262626);
    background-image: -ms-linear-gradient(top, #4E4E4E, #262626);
    background-image: -o-linear-gradient(top, #4E4E4E, #262626);
    background-image: linear-gradient(top, #4E4E4E, #262626); /* standard, but currently unimplemented */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4E4E4E', endColorstr='#262626'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4E4E4E', endColorstr='#262626')"; /* IE8 */
}
.jqx-progressbar-value-vertical-shinyblack
{
    border: 0px solid #555555;
    background-color: #262626; /* fallback color if gradients are not supported */
    background-image: -webkit-gradient(linear, left top, right top, from(#4E4E4E), to(#262626));
    background-image: -webkit-linear-gradient(left, #4E4E4E, #262626);
    background-image: -moz-linear-gradient(left, #4E4E4E, #262626);
    background-image: -ms-linear-gradient(left, #4E4E4E, #262626);
    background-image: -o-linear-gradient(left, #4E4E4E, #262626);
    background-image: linear-gradient(left, #4E4E4E, #262626); /* standard, but currently unimplemented */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#4E4E4E', endColorstr='#262626'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#4E4E4E', endColorstr='#262626')"; /* IE8 */
}
/*applied to the progressbar's text element*/
.jqx-progressbar-text-shinyblack
{
   color: #aaa; 
}
.jqx-progressbar-shinyblack
{
    border: 1px solid #555555;
    background: #FFFFFF;
}
.jqx-progressbar-disabled-shinyblack
{
    border: 1px solid #ccc;
    background: #ccc;
}

/*jqxPanel Style*/
.jqx-panel-shinyblack
{
    background-color: #ffffff;
    border: 1px solid #555555;
}
.jqx-panel-bottomright-shinyblack
{
    background: #555555;
}

/* jqxWindow */
.jqx-window-shinyblack
{    
    border: 1px solid #444444;
    background-color: #fff;     
}
.jqx-window-disabled-shinyblack
{
    background-color: #fff;
}
.jqx-window-header-shinyblack
{
    color: #fff;
    border-color: #000;
    background: #ccc url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-window-header-disabled-shinyblack
{
    background: #aaa;
    border-color: #aaa;
}
.jqx-window-header-hover-shinyblack
{
    color: #fff;
    border-color: #000;
    background: #ccc url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-window-content-shinyblack
{

}
.jqx-window-content-disabled-shinyblack
{
    background-color: #fff;
}
.jqx-window-close-button-background-shinyblack
{
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-window-close-button-shinyblack
{
    background-color: transparent;
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;   
    background-position: 0% 50%; 
}
 /*applied to the window's collapse button*/
.jqx-window-collapse-button-shinyblack
{
    background-image: url(images/icon-up-white.png);    
}
/*applied to the window's collapse button when the window is collapsed*/
.jqx-window-collapse-button-collapsed-shinyblack
{
    background-image: url(images/icon-down-white.png);
}
.jqx-window-modal-shinyblack
{
    background-color: Black;
}
.jqx-window-close-button-hover-shinyblack
{
    background-image: url(images/close_white.png);
    background-position: 0% 50%; 
}


/*jqxSlider*/
.jqx-slider-shinyblack
{
}
.jqx-slider-tick-shinyblack
{
    background: #aaa;  
}
.jqx-slider-tickscontainer-shinyblack
{
}
.jqx-slider-slider-vertical-shinyblack
{
    background-image: url(images/slider_vertical_shinyblack.png);
    background-repeat: no-repeat;
}
.jqx-slider-slider-horizontal-shinyblack
{
    background-image: url(images/slider_horizontal_shinyblack.png);
    background-repeat: no-repeat;
}
.jqx-slider-track-shinyblack
{
    background: #343434;
}
.jqx-slider-rangebar-shinyblack
{
    background: #4b91a5;
}
.jqx-slider-left-shinyblack
{
    background: url(images/icon-left-white.png);
    background-repeat: no-repeat;
}
.jqx-slider-right-shinyblack
{
    background: url(images/icon-right-white.png);
    background-repeat: no-repeat;
}
.jqx-link-shinyblack
{
    color: #fff;
    text-decoration: none;
    color: #111111;
}

/*jqxMenu Style*/
.jqx-menu-shinyblack
{
    color: #fff;
    border-color: #000;
}
.jqx-menu-dropdown-column-shinyblack
{
}
.jqx-menu-horizontal-shinyblack
{
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
}

.jqx-menu-vertical-shinyblack
{
    background: #333333;
}
.jqx-menu-dropdown-shinyblack
{
    background-color: #333333;
    border-color: #000;
}
.jqx-menu-dropdown-shinyblack ul
{
    background-color: transparent;
}
.jqx-menu-shinyblack ul
{
    background-color: transparent;
}
.jqx-menu-item-top-shinyblack
{
    border: 1px solid transparent;
    color: inherit;
    background-color: transparent;
}
.jqx-menu-item-shinyblack
{
    background-color: #333333;
    border: 1px solid #333333;
    color: #fff;
}
.jqx-menu-item-separator-shinyblack
{
    background-color: #aaa;
    color: inherit;
}
/* COMMENT BY PETE @ OU 2012-04  Create new below

.jqx-menu-item-hover-shinyblack
{
    background: transparent url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: #fff;
}

.jqx-menu-item-top-hover-shinyblack
{
    background: transparent url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: inherit;
}
.jqx-menu-item-selected-shinyblack
{
    background: transparent url(images/bg_blackpressed.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: #fff;
}
.jqx-menu-item-top-selected-shinyblack
{
    background: transparent url(images/bg_blackpressed.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: #fff;
}*/
.jqx-menu-item-hover-shinyblack
{
    background: transparent url(images/G1_pt.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: #fff;
}
.jqx-menu-item-top-hover-shinyblack
{
    background: transparent url(images/G1_pt.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: inherit;
}
.jqx-menu-item-selected-shinyblack
{
	
    background: transparent url(images/G1_pt.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: #fff;
}
.jqx-menu-item-top-selected-shinyblack
{
	
    background: transparent url(images/G1_pt.png) left center scroll repeat-x;
    border: 1px solid #000;
    color: #fff;
}



.jqx-menu-item-disabled-shinyblack
{
    color: #ccc;
}
.jqx-menu-highlighteffect-shinyblack
{
    background-color: #ffffff;
    margin: -2px;
}
.jqx-menu-item-arrow-right-shinyblack
{
    background-image: url(images/icon-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-top-right-shinyblack
{
    background-image: url(images/icon-right-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-down-shinyblack
{
    background-image: url(images/icon-down-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-up-shinyblack
{
    background-image: url(images/icon-up-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-left-shinyblack
{
    background-image: url(images/icon-left-white.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-top-left-shinyblack
{
    background-image: url(images/icon-left-white.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-right-selected-shinyblack
{
    background-image: url(images/icon-right-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-down-selected-shinyblack
{
    background-image: url(images/icon-down-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-up-selected-shinyblack
{
    background-image: url(images/icon-up-white.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-menu-item-arrow-left-selected-shinyblack
{
    background-image: url(images/icon-left-white.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.jqx-menu-item-shinyblack a:link
{
    background-color: transparent;
    color: #fff;
}
.jqx-menu-item-shinyblack a:visited
{
    background-color: transparent;
    color: #fff;
}
.jqx-menu-item-shinyblack a:hover
{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.jqx-menu-item-top-shinyblack a:link
{
    background-color: transparent;
    color: #fff;
}
.jqx-menu-item-top-shinyblack a:visited
{
    background-color: transparent;
    color: #fff;
}
.jqx-menu-item-top-shinyblack a:hover
{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}
.jqx-menu-disabled-shinyblack
{
    color: #aaa;
}
.jqx-menu-disabled-shinyblack a:link
{
    color: #aaa;
}
.jqx-menu-disabled-shinyblack a:visited
{
    color: #aaa;
}
.jqx-menu-disabled-shinyblack a:hover
{
}

/*jqxtree Style*/
.jqx-tree-shinyblack
{
    color: #000;
    border-color: #000;
    background: #ffffff;
}
.jqx-tree-vertical-shinyblack
{
    background: #ffffff;
}
.jqx-tree-dropdown-root-shinyblack
{
    background-color: transparent;
    border-color: #fff;
}
.jqx-tree-dropdown-shinyblack
{
    background-color: transparent;
    border-color: #fff;
}
.jqx-tree-item-li-shinyblack
{
    background-color: transparent;
    border: 1px solid transparent;
    color: inherit;
}
.jqx-tree-item-u-last-shinyblack
{
}
.jqx-tree-item-shinyblack
{
    background-color: transparent;
    border: 1px solid transparent;
    color: inherit;
}
.jqx-tree-item-shinyblack a:link
{
    background-color: transparent;
    border: 1px solid transparent;
    color: inherit;
}

.jqx-tree-item-shinyblack a:hover
{
    background-color: transparent;
    border: 1px solid transparent;
    color: inherit;
}

.jqx-tree-item-shinyblack a:visited
{
    background-color: transparent;
    border: 1px solid transparent;
    color: inherit;
}

.jqx-tree-item-hover-shinyblack
{
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000000;
    color: #fff;
}
.jqx-tree-item-selected-shinyblack
{
    background: #000 url(images/bg_blackpressed.png) left center scroll repeat-x;
    border: 1px solid #000000;
    color: #fff;
}
.jqx-tree-item-disabled-shinyblack
{
    color: #ccc;
}
.jqx-tree-item-arrow-collapse-shinyblack
{
    background-image: url(images/icon-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-tree-item-arrow-expand-shinyblack
{
    background-image: url(images/icon-down.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-tree-item-arrow-expand-hover-shinyblack
{
    background-image: url(images/icon-down.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.jqx-tree-item-arrow-collapse-hover-shinyblack
{
    background-image: url(images/icon-right.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.jqx-tree-disabled-shinyblack
{
    color: #aaa;
}
.jqx-tree-disabled-shinyblack a:link
{
    color: #aaa;
}
.jqx-tree-disabled-shinyblack a:visited
{
    color: #aaa;
}
.jqx-tree-disabled-shinyblack a:hover
{
}

/*jqxTabs*/
.jqx-tabs-shinyblack
{
   border: none;
}
.jqx-tabs-header-shinyblack
{
    border: none;
    background: #ccc url(images/bg_black.png) left center scroll repeat-x;
    padding-top: 3px;
    padding-bottom: 0px;
}
.jqx-tabs-header-bottom-shinyblack
{
    border: none;
    background: #ccc url(images/bg_black.png) left center scroll repeat-x;
    padding-bottom: 3px;
    padding-top: 0px;
}
.jqx-tabs-header-collapsed-shinyblack
{
    border-bottom: 1px solid #000;
}
.jqx-tabs-header-collapsed-bottom-shinyblack
{
    border-top: 1px solid #000;
    margin-top: -1px;
}
.jqx-tabs-close-button-shinyblack
{
    background-image: url(images/close_white.png);
}
.jqx-tabs-close-button-hover-shinyblack
{
    background-image: url(images/close_white.png);
}
.jqx-tabs-close-button-selected-shinyblack
{
    background-image: url(images/close_white.png);
}
.jqx-tabs-arrow-left-shinyblack
{
    background-image: url(images/icon-left-white.png);
}
.jqx-tabs-arrow-right-shinyblack
{
    background-image: url(images/icon-right-white.png);
}
.jqx-tabs-arrow-background-shinyblack
{
    background: #ccc url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-tabs-title-shinyblack
{
    color: #fff;
    border-color: transparent;
    background: transparent;
}
.jqx-tabs-title-selected-top-shinyblack
{
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: transparent;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #ccc url(images/bg_blackpressed.png) left center scroll repeat-x;
}
.jqx-tabs-title-selected-bottom-shinyblack
{
    border-top-color: transparent;
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    background: #ccc url(images/bg_blackpressed.png) left center scroll repeat-x;
}
.jqx-tabs-title-hover-top-shinyblack
{
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: transparent;
    color: #fff;
    background: #ccc url(images/bg_blackhover.png) left center scroll repeat-x;
}
.jqx-tabs-title-hover-bottom-shinyblack
{
    border-top-color: transparent;
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    color: #fff;
    background: #ccc url(images/bg_blackhover.png) left center scroll repeat-x;
}
.jqx-tabs-title-disable-shinyblack
{
    color: #999;
}
.jqx-tabs-title-container-shinyblack
{
    background: transparent;
}
.jqx-tabs-selection-tracker-container-shinyblack
{
    color: #fff;
    background: transparent;
}
.jqx-tabs-selection-tracker-top-shinyblack
{
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    background: #ccc url(images/bg_blackpressed.png) left center scroll repeat-x;
    padding-bottom: 1px;
}
.jqx-tabs-selection-tracker-bottom-shinyblack
{
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    margin-top: 0px;
    background: #ccc url(images/bg_blackpressed.png) left center scroll repeat-x;
}
.jqx-tabs-content-shinyblack
{
    background-color: #eee;
    border: 1px solid #444444;
}

/*jqxCheckBox*/
.jqx-checkbox-shinyblack
{
}
.jqx-checkbox-default-shinyblack
{
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-checkbox-hover-shinyblack
{
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-checkbox-disabled-shinyblack
{
    color: #aaa;
    background: transparent;
}
.jqx-checkbox-disabled-box-shinyblack
{
    background: #e8e8e8 url(images/glass.png) left center scroll no-repeat;
    border: 1px solid #aaa;
}
.jqx-checkbox-check-checked-shinyblack
{
    background: transparent url(images/check_white.png) left top no-repeat;
}
.jqx-checkbox-check-disabled-shinyblack
{
    background: transparent url(images/check_disabled.png) left top no-repeat;
}
.jqx-checkbox-check-indeterminate-shinyblack
{
    background: transparent url(images/check_indeterminate_white.png) left top no-repeat;
}
.jqx-checkbox-check-indeterminate-disabled-shinyblack
{
    background: transparent url(images/check_indeterminate_disabled.png) left top no-repeat;
}

/*jqxRadioButton*/
.jqx-radiobutton-shinyblack
{
}
.jqx-radiobutton-default-shinyblack
{
    background: transparent url(images/roundbg_shinyblack_normal.png) left center scroll repeat-x;
    border: 0px solid #c9c9c9;
}
.jqx-radiobutton-hover-shinyblack
{
    background: transparent url(images/roundbg_shinyblack_hover.png) left center scroll repeat-x;
    border: 0px solid #000;
}
.jqx-radiobutton-disabled-shinyblack
{
    color: #aaa;
    background: transparent;
}
.jqx-radiobutton-disabled-box-shinyblack
{
    background: transparent url(images/roundbg_disabled.png) left top scroll no-repeat;
    border: 0px solid #aaa;
}
.jqx-radiobutton-check-checked-shinyblack
{
    background: transparent url(images/roundbg_check_white.png) left top no-repeat;
}
.jqx-radiobutton-check-disabled-shinyblack
{
    background: transparent url(images/roundbg_check_disabled.png) left top no-repeat;
}
.jqx-radiobutton-check-indeterminate-shinyblack
{
    background: transparent url(images/roundbg_check_indeterminate.png) left top no-repeat;
}
.jqx-radiobutton-check-indeterminate-disabled-shinyblack
{
    background: transparent url(images/roundbg_check_disabled.png) left top no-repeat;
}

/*jqxRating*/
.jqx-rating-shinyblack
{
    margin: 0px;
    padding: 0px;
    outline: none;
    overflow: hidden;
}
.jqx-rating-image-shinyblack
{
    border-width: 0px;
}
.jqx-rating-image-default-shinyblack
{
    background-color: transparent;
    padding: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(images/star.png);
    overflow: hidden;
}
/*applied to the rating when it is hovered.*/
.jqx-rating-image-hover-shinyblack
{
    background-color: transparent;
    padding: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(images/star_hover.png);
    overflow: hidden;
}
/*applied to the rating when it is disabled.*/
.jqx-rating-image-backward-shinyblack
{
    background-color: transparent;
    padding: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(images/star_disabled.png);
    overflow: hidden;
}

/*jqxNumberInput and jqxMaskedInput Styles*/
.jqx-input-shinyblack
{
    background: #FFFFFF;
    border: 1px solid #555555;
}
.jqx-input-invalid-shinyblack
{
    background: #FFFFFF;
    border: 1px solid #FF0000;
}
.jqx-input-content-shinyblack
{
    resize: none;
    outline-width: 0px;
    background: transparent;
}
.jqx-input-disabled-shinyblack
{
    resize: none;
    outline-width: 0px;
    color: #aaa;
}
.jqx-input-button-header-shinyblack
{
    background: #e8e8e8 url(images/bg_black.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-input-button-innerHeader-shinyblack
{
    width: 3px;
    background: #fff;
    border: 0px solid #fff;
}
.jqx-input-button-content-shinyblack
{
    font-size: 8px;
    border-top: 0px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background: #FFFFFF;
}

/*jqxTooltip Style*/
.jqx-tooltip-content-shinyblack
{
    border: 0px solid #555555;
    color: #fff;
    background: #e8e8e8 url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-tooltip-header-shinyblack
{
    border: 0px solid #555555;
    background: #e8e8e8 url(images/bg_black.png) left center scroll repeat-x;
    color: #fff;
}
.jqx-tooltip-content-invalid-shinyblack
{
    border: 0px solid #555555;
    color: #FFFFFF;
    background-color: #FF0000;
}
.jqx-tooltip-header-invalid-shinyblack
{
    border: 0px solid #555555;
    background-color: #FF0000;
    color: #FFFFFF;
}
.jqx-tooltip-table-shinyblack
{
    background: #e8e8e8 url(images/bg_black.png) left center scroll repeat-x;
    border: 1px solid #555555;
}

/*jqxCalendar Style*/
.jqx-calendar-shinyblack
{
    background-color: #ffffff;
    border: 1px solid #555555;
}
.jqx-calendar-row-header-shinyblack
{
    background-color: #F2F2F2;
    border: 0px solid #F2F2F2;
}
.jqx-calendar-column-header-shinyblack
{
    background-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #d6d6d6;
}
.jqx-calendar-top-left-header-shinyblack
{
    background-color: #f2f2f2;
    border: 0px solid #f2f2f2;
}
.jqx-calendar-title-navigation-shinyblack
{
    color: #fff;
}
.jqx-calendar-title-header-shinyblack
{
    color: #fff;
    border-bottom: 1px solid #555555;
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-calendar-title-header-disabled-shinyblack
{
    color: #ccc;
    border-bottom: 1px solid #c9c9c9;
    background: #ccc url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-calendar-cell-shinyblack
{
    color: #000;
    background: transparent;
    border: 1px solid #FFFFFF;
}
.jqx-calendar-cell-hidden-shinyblack
{
    display: none;
}
.jqx-calendar-cell-weekend-shinyblack
{
    color: #898989;
}
.jqx-calendar-cell-specialDate-shinyblack
{
    color: #FF0000;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.jqx-calendar-cell-today-shinyblack
{
    color: #898989;
    background-color: #ffffdb;
    border: 1px solid #fdc066;
}
.jqx-calendar-cell-othermonth-shinyblack
{
    color: #898989;
}
.jqx-calendar-cell-hover-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-calendar-cell-selected-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackpressed.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-calendar-cell-disabled-shinyblack
{
    color: #ccc;
}
.jqx-calendar-row-cell-shinyblack
{
    text-align: center;
    color: #777777;
    border: 1px solid #f2f2f2;
}
.jqx-calendar-row-cell-disabled-shinyblack
{
    text-align: center;
    color: #ccc;
    border: 1px solid #f2f2f2;
}
.jqx-calendar-column-cell-shinyblack
{
    font-weight: normal;
    color: #000000;
    border: 1px solid #FFFFFF;
}
.jqx-calendar-column-cell-disabled-shinyblack
{
    font-weight: normal;
    color: #ccc;
    border: 1px solid #FFFFFF;
}
.jqx-calendar-view-shinyblack
{
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
}

/*jqxExpander and jqxNavigationBar Style*/
.jqx-expander-shinyblack
{
}
.jqx-expander-header-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
    height: auto;
}
.jqx-expander-header-toggle-none-shinyblack
{
}
.jqx-expander-content-shinyblack
{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #fdfdfd;
}
.jqx-expander-header-content-shinyblack
{
    color: #fff;
    background-color: transparent;
}
.jqx-expander-header-disabled-shinyblack
{
    background: #cccccc url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-expander-content-disabled-shinyblack
{
    background-color: #f1f1f1;
}
.jqx-expander-disabled-shinyblack
{
    border: 0px solid #ccc;
}
.jqx-expander-header-bottom-shinyblack
{
    border: 1px solid #000;
}
.jqx-expander-content-top-shinyblack
{
    border-top: 1px solid #000;
    border-bottom: 0px solid #000;
}
.jqx-expander-header-top-shinyblack
{
    border: 1px solid #000;
}
.jqx-expander-content-bottom-shinyblack
{
    border-bottom: 1px solid #000;
    border-top: 0px;
}
.jqx-expander-arrow-shinyblack
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-expander-arrow-align-left-shinyblack
{
}
.jqx-expander-arrow-align-right-shinyblack
{
    padding-right: 5px;
}
.jqx-expander-arrow-top-shinyblack
{
    background-image: url(images/icon-down.png);
}
.jqx-expander-arrow-bottom-shinyblack
{
    background-image: url(images/icon-up.png);
}
.jqx-expander-header-expanded-shinyblack
{
    border: 1px solid #000;
}
.jqx-expander-content-expanded-shinyblack
{
}
.jqx-expander-header-hover-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
}
.jqx-navigationbar-shinyblack
{
    border-top: 1px solid #000;
    margin: 0px;
    padding-bottom: 1px;
}

/*jqxPopup Style*/
.jqx-popup-table-shinyblack
{
    border: 1px solid #a4bed4;
    background: #FFFFFF;
}
.jqx-popup-content-shinyblack
{
    border: 1px solid #555555;
    background-color: #FFFFFF;
    color: #fff;
    background: #FFC5C5C5; /* for non-css3 browsers */
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFC5C5C5')"; /* for IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFC5C5C5)";
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#C5C)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFFFFF,  #C5C5C5); /* for firefox 3.6+ */
}

/*jqxListBox Style*/
.jqx-listbox-shinyblack
{
    background-color: #ffffff;
    border: 1px solid #555555;
}
.jqx-listbox-bottomright-shinyblack
{
    background: #555555;
}
.jqx-listitem-state-group-shinyblack
{
    border: 1px solid #ffffff;
    background: #ffffff;
    font-size: 15px;
}
.jqx-listitem-state-normal-shinyblack
{
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #000;
}
.jqx-listitem-state-hover-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-listitem-state-selected-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackpressed.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-listitem-state-disabled-shinyblack
{
    border: 0px solid #aaaaaa;
    color: #AAA;
}

/*jqxComboBox Style*/
.jqx-combobox-content-shinyblack
{
    color: #000000;
    background: #fff;
}
.jqx-combobox-input-shinyblack
{
    -webkit-border-radius: 0px;
    background: #FFFFFF;
    border: 0px solid #aaaaaa;
}

.jqx-combobox-content-disabled-shinyblack
{
    color: #AAA;
}
.jqx-combobox-arrow-normal-shinyblack
{
    border-left: 1px solid #000;
}
.jqx-combobox-arrow-hover-shinyblack
{
    border-left: 1px solid #000;
}
.jqx-combobox-arrow-selected-shinyblack
{
    border-left: 1px solid #000;
}
.jqx-combobox-state-normal-shinyblack
{
    color: #fff;
    border: 1px solid #000;
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-combobox-state-hover-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-combobox-state-selected-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackpressed.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-combobox-state-disabled-shinyblack
{
    background: #ccc;
    color: #AAA;
}

/*jqxDropDownList Style*/
.jqx-dropdownlist-content-shinyblack
{
    color: #fff;
}
.jqx-dropdownlist-content-disabled-shinyblack
{
    color: #AAA;
}
.jqx-dropdownlist-state-normal-shinyblack
{
    color: #fff;
    border: 1px solid #000;
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-dropdownlist-state-hover-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-dropdownlist-state-selected-shinyblack
{
    color: #fff;
    background: #000 url(images/bg_blackpressed.png) left center scroll repeat-x;
    border: 1px solid #000;
}
.jqx-dropdownlist-state-focus-shinyblack
{
  border: 1px solid #222;
}
.jqx-dropdownlist-state-disabled-shinyblack
{
    background: #ccc;
    color: #AAA;
}

/*jqxScrollBar Style*/
.jqx-scrollbar-state-normal-shinyblack
{
    background: #555555;
    border: 1px solid #555555;
}
.jqx-scrollbar-button-state-normal-shinyblack
{
    border: 1px solid #555555;
    background: #555555;
}
.jqx-scrollbar-button-state-hover-shinyblack
{
    background: #555555 url(images/bg_blackhover.png) left top scroll repeat-x;
    border: 1px solid #000;
}
.jqx-scrollbar-button-state-pressed-shinyblack
{
    background: #555555 url(images/bg_blackpressed.png) left top scroll repeat-x;
    border: 1px solid #000;
}
.jqx-scrollbar-thumb-state-normal-horizontal-shinyblack
{
    background: #555555 url(images/bg_black.png) left top scroll repeat-x;
    border: 1px solid #000;
}
.jqx-scrollbar-thumb-state-hover-horizontal-shinyblack
{
    background: #555555 url(images/bg_blackhover.png) left top scroll repeat-x;
    border: 1px solid #000;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-shinyblack
{
    background: #555555 url(images/bg_blackpressed.png) left top scroll repeat-x;
    border: 1px solid #000;
}
.jqx-scrollbar-thumb-state-normal-shinyblack
{
    background: #555555 url(images/bg_black_horizontal.png) left top scroll repeat-x;
    border: 1px solid #000;
}
.jqx-scrollbar-thumb-state-hover-shinyblack
{
    background: #555555 url(images/bg_blackhover_horizontal.png) left top scroll repeat-x;
    border: 1px solid #000;
}
.jqx-scrollbar-thumb-state-pressed-shinyblack
{
    background: #555555 url(images/bg_blackpressed_horizontal.png) left top scroll repeat-x;
    border: 1px solid #000;
}

/*jqxButton, jqxToggleButton, jqxRepeatButton Style*/
.jqx-button-shinyblack
{
    border: 1px solid #000;
    color: #fff;
    background: url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-fill-state-normal-shinyblack
{
    border: 1px solid #000;
    background: #000 url(images/bg_black.png) left center scroll repeat-x;
}
.jqx-fill-state-hover-shinyblack
{
    border: 1px solid #000;
    background: #000 url(images/bg_blackhover.png) left center scroll repeat-x;
}
.jqx-fill-state-pressed-shinyblack
{
    border: 1px solid #000;
    background: #000 url(images/bg_blackpressed.png) left center scroll repeat-x;
}
.jqx-fill-state-pressedhover-shinyblack
{
    border: 1px solid #000;
    background: #000 url(images/bg_blackpressed.png) left center scroll repeat-x;
}
.jqx-fill-state-disabled-shinyblack
{
    border: 1px solid #ccc;
    background: #ccc;
}

.jqx-visible-shinyblack
{
}
.jqx-hidden-shinyblack
{
}
.jqx-left-arrow-shinyblack
{
    background: transparent;
    background-image: url('left.png');
}
.jqx-right-arrow-shinyblack
{
    background: transparent;
    background-image: url('right.png');
}

.icon-arrow-up-shinyblack
{
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-down-shinyblack
{
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-left-shinyblack
{
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-right-shinyblack
{
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-arrow-up-hover-shinyblack
{
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-down-hover-shinyblack
{
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-left-hover-shinyblack
{
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-right-hover-shinyblack
{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-arrow-up-selected-shinyblack
{
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-down-selected-shinyblack
{
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-left-selected-shinyblack
{
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-arrow-right-selected-shinyblack
{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
/* jqxSplitter */
.jqx-splitter-splitbar-horizontal-shinyblack
{
    background: #555555;
    border-color: #777;
}
.jqx-splitter-splitbar-vertical-shinyblack
{
    background: #555555;
    border-color: #777;
}
.jqx-splitter-splitbar-hover-shinyblack
{
    background: #666;
}
.jqx-splitter-splitbar-disabled-shinyblack
{
    background: #A3A3A3;
}
.jqx-splitter-invalid-shinyblack
{
    background-color: Red;
}
.jqx-splitter-collapse-button-vertical-shinyblack
{
    background: #555555 url(images/bg_black.png) left top scroll repeat-x;
}
.jqx-splitter-collapse-button-horizontal-shinyblack
{
    background: #555555 url(images/bg_black.png) left top scroll repeat-x;
}
.jqx-splitter-collapse-button-hover-shinyblack
{
    background: #555555 url(images/bg_blackhover.png) left top scroll repeat-x;
}
.jqx-splitter-panel-shinyblack
{
}
.icon-close-shinyblack
{
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-switchbutton-shinyblack
{
    border: 1px solid #000;
}
.jqx-switchbutton-shinyblack
{
    background-color: #555555;    
}
.jqx-switchbutton-label-on-shinyblack
{
    color: #fff;
}
.jqx-switchbutton-label-off-shinyblack
{
    color: #fff;
}