		body{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 13px; color: #333;}
		#top{
			/*position:absolute;*/
			/*top:16%;*/
			margin-top:70px;
			margin-left: auto;
			margin-right: auto;
			/*left:20%;*/
			border:10px solid #E7E7E7;
			padding:10px 25px 25px 25px;
			border-radius: 10px 10px 10px 10px;
		}
		.head_txt {
			color: #0054A7;
			margin-bottom: -10px;
		}
		.dashboard_button {
			background: url("../images/highlight_line.gif") repeat-x scroll left top #EAEAEA;
			border: 1px solid #C0C0C0;
			color: #A1A1A1;
			/* float: left; */
			display: inline-block;
			font-size: 11px;
			height: 80px;
			line-height: 1.4em;
			margin: 0 10px 10px 0;
			overflow: hidden;
			padding: 15px;
			text-decoration: none;
			width: 157px;
		}
		.dashboard_button span {
			display: block;
			padding-top: 7px;
		}
		.dashboard_button:hover {
			background: none repeat scroll 0 0 #DDDDDD;
			border: 1px solid #AAAAAA;
			height: 79px;
			padding-top: 16px;
			text-decoration: none;
		}
		.dashboard_button_heading {
			color: #4A4A4A;
			display: block;
			font-size: 12px;
			height: 50px;
			line-height: 130px;
			text-align:center;
			font-weight: bold;
			/*font-style: italic;*/
		}
		#note{
			/*position:absolute;*/
			/*top:68%;*/
			margin-top:10px;
			margin-left: auto;
			margin-right: auto;
			/*left:20%;*/
			border:1px solid #CC0000;
			padding:10px 20px 10px 20px;
			border-radius: 5px 5px 5px 5px;
			background-color:#FFF2F2;
		}
		.note_txt{
			color: #CC0000;
			font-weight:bold;
		}
		#top .ERP_easyloan { background-image: url(../images/easyloan.png); background-repeat: no-repeat;  background-position: 48% ;}
		#top .ERP_easyhr { background-image: url(../images/easyhr.png); background-repeat: no-repeat;  background-position: 48% ;}
		#top .ERP_easyaccount { background-image: url(../images/easyaccount.png); background-repeat: no-repeat;  background-position: 48% ;}
		#top .ERP_service { background-image: url(../images/easyservice.png); background-repeat: no-repeat;  background-position: 48% ;}
		#top .ERP_easysale { background-image: url(../images/easysale.png); background-repeat: no-repeat;  background-position: 48% ;}
		#top .ERP_crm { background-image: url(../images/crm.png); background-repeat: no-repeat;  background-position: 48% ;}
		#top .icboard { background-image: url(../images/icboard.png); background-repeat: no-repeat;  background-position: 48% ;}
		#top .Cleansing_ci { background-image: url(../images/cleansing_ci.png); background-repeat: no-repeat;  background-position: 48% ;}
		
		.clock {
			color:green;
			font-weight:bold;
			font-size: 15px;
		}
		
		.logout {
			float:right;
			margin-top:-33px;
			background-image: url(../images/logout.png); 
			background-repeat: no-repeat;
			text-indent:18px;
			cursor:pointer;
			font-weight:bold;
		}
		.logout:hover {
			color: red;
		}
		
		
		
		
		
		
		
		
		